body {
    padding-top: 90px;
}
.panel-login {
    border-color: #ccc;
}
.panel-login .panel-heading {
    text-align:center;
}
.panel-login .panel-heading a{
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
}
.panel-login .panel-heading a.active{
    color: #029f5b;
    font-size: 18px;
}
.btn-submit {
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
}
.btn-submit:hover {
    color: #fff;
}
.btn-login {
    background-color: #59B2E0;
    border-color: #59B2E6;
}
.btn-register {
    background-color: #1CB94E;
    border-color: #1CB94A;
}