/*Web-resource-reference- CSS color -http://www.w3schools.com/cssref/css_colors.asp*/
body {
    padding-top: 90px;
}
.panel-form {
    border-color: #484848;
}
.panel-heading {
    text-align:center;
}
.panel-heading span{
    color: #404040;
    font-weight: bold;
    font-size: 15px;
}
.panel-heading span.active{
    color: #CCCC00;
    font-size: 20px;
}
.btn-form {
	cursor:pointer;
}
.btn-submit {
    color: #FFFFFF;
    font-size: 14px;
    height: auto;
    padding: 14px 0;
    text-transform: uppercase;
}
.btn-submit:hover {
    color: #FFFFFF;
}
.btn-login {
    background-color: #0099FF;
}
.btn-register {
    background-color: #00CC00;
}
.error-message {
	color: #FF0000;
}